*{
    box-sizing: border-box;
  
    
}
html {
  scroll-behavior: smooth;
 
}

/* all links will be ... */
a{text-decoration: none; color:rgb(252, 246, 246);}

body{
    font-family: 'Ubuntu';
    background-color:black;
    color:#ffffff;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* header background video */
                          #header{
                            margin-top: 0px;
                            display:flex;
                            flex-direction: column;
                            padding:40vh 0px;
                            font-family: 'Cinzel Decorative';
                            background-color: black;
                            color:white;
                            font-weight: bold;
                            overflow: hidden;
                            transition: 0.4s;
                            position: fixed;
                            width: 100%;
                            top: 0;
                            z-index: 99;
                            border:0 solid;
                            border-bottom-right-radius: 20px;
                            border-bottom-left-radius: 200px;
                            

                          }

               /* header background video */

                              #header .vid_container{
                                position: absolute;
                                top:0;
                                left:0;
                                width:100%;
                                height: 100%;
                                overflow: hidden;
                                display: block;
                              }
                              #header .vid_container video{
                                display: block;
                                position: relative;
                                bottom:50vh;
                                min-width: 100%;
                                min-height: 100%;
                              }
                              #header .overlay{
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                background: black;
                                opacity: 0.75;
                                top:0;
                                left: 0;
                                z-index: 2;
                              }

               /* header name, links and points */

                          #header .name{
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 3vw;

                            transition: all 0.8 ease-in;
                            font-weight: bold;
                            cursor: pointer;
                            font-family: 'Cinzel Decorative';
                            z-index: 2;

                            
                          }
                          #header #headerLinks {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            font-size: 2vw;
                            z-index: 2;  
                            transition: all 0.8 ease-in; 
                          }
                          #header  #headerLinks a {  
                            color:whitesmoke;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 15px;

                            z-index: 2;
                            
                          }
                          #header #headerLinks a:hover{
                            transition:all 0.8 ease;
                            color:black;
                            background: white;
                            padding:2px 10px;
                            border:0px solid;
                            border-radius: 10px;

                          }

                          #header .pointer{
                            display:flex;
                            justify-content: center;
                            align-content: flex-start;
                            position: relative;
                            width: 100%;
                            height: 50px;
                            margin-top: 70px;
                            animation: pointing 1s ease-out infinite;
                            cursor: pointer;

                            z-index: 2;

                          }

                          @keyframes pointing{
                            0%{
                              top:0;
                              opacity: 0.4;
                            }
                            50%{
                              top:15px;
                              opacity:0.6;}
                            100%{
                              transform:20px;
                              opacity:1;
                            }
                          }

/*  the divs */

                          .divs{
                            height: 100vh;
                            display:flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            width:100%;
                            
                            position: relative;
                            
                            color: black;
                            font-weight: bolder;
                          }
                          .divs .imageContainer{
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            filter: blur(2px) brightness(50%);
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                          }

                          .divs .paragraph{
                            background-color: rgb(15, 12, 12); /* Fallback color */
                            background-color: rgba(0,0,0, 0.1);/* Black w/opacity/see-through */
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            border: 0px solid;
                            border-radius: 20px;
                            z-index: 2;
                            width: 90%;
                            height: 50vh;
                            margin-top: 88px;
                            text-align: center;
                            box-shadow: 5px 5px 10px 2px black,     /* R and B*/
                            -5px -5px 10px 2px black,     /* L and U*/
                            5px -5px 10px 2px black,     /* R and U*/
                            -5px 5px 10px 2px black;    /* L and B*/
                            font-size: 3vh;
                            font-weight: bolder;
                            font-family: 'Poppins';
                            color: white;
                          }


 /* the skills div  */
                                                    
                            .divs #skills + .paragraph{
                              display:flex;
                              flex-direction: column;
                              align-items: flex-end;
                              justify-content: center;
                              height: 70vh;
                              text-align: initial;
                              font-size: auto;
                              
                            }
                            .divs #skills + .paragraph h5{
                              width:50vw;
                              height: 6vh;
                              font-size: 3.5vh;
                              font-weight: bolder;

                              display: flex;
                              align-items: center;
                              justify-content: center;
                              align-self: flex-start;
                              margin-left: 15px;
                              background-color: #AFB42B;
                              color:#1B5E20;
                              border:0px solid;
                              border-radius: 20px 0px 50px 0px;
                              margin:2px;
                            }
                            .divs #skills + .paragraph .progress{
                              width:50vw;
                              height: 3vh;

                              border:1px solid lightslategray;
                              border-radius: 20px;
                              display: flex;
                              flex-direction: row;
                              margin-right: 5px;

                            }

                            .divs #skills + .paragraph .progress > .progressInner{
                              width:100%;
                              height: 100%;
                              display: flex;
                              justify-content: space-evenly;
                              align-items: center;
                              background-color: #FFA726   ;
                              color:#5D4037  ;
                              border:0 solid lightslategray;
                              border-radius: 20px;
                              animation:hvo 10s infinite linear;
                              transition:all 2ms linear;
                              
                            }

                            .divs #skills + .paragraph .progress .progressInner h6 {
                              font-size: 2vh;
                              font-weight: bolder;
                              color:none;
                            }


                            @keyframes hvo{
                              0%{
                                width:10%;
                                color:#FFA726;
                              }
                              35%{
                                color:#FF9800;
                              }
                              65%{
                                color:#FB8C00;
                              }
                              100%{
                                width:var(--width);
                                color:#5D4037  ;
                                
                              }
                            }

/* the button in the right bottom corner */

                            .divs .button{
                              display:flex;
                              justify-content: center;
                              align-items: center;
                              align-self: flex-end;
                              margin-right: 50px;
                              border:0px solid;
                              border-radius: 1vh;
                              height: 6vh;
                              width: 7vw;
                              font-size: 1vw;
                              text-decoration: none;
                              background-color:#B71C1C;
                              color:rgb(204, 245, 207);

                              position: relative;
                              z-index: 90;
                            }

                            .divs .button:hover {  
                              background-color:white;
                              color:black;
                              transition: all 1 ease;
                              animation: moveB 1s ease-in infinite;
                            }

                            @keyframes moveB{
                              0%{transform:none;}
                              50%{top:6px}
                              100%{transform:8px;}
                            }
/* the background image */

                              #about_me{
                                background-image: url('pictures/aboutmebk-resized.jpg');
                                background-blend-mode: screen;
                                background-size: cover;
                                min-height: 100%;
                                background-attachment: fixed;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                              }

                              #experience{
                                background-image: url('pictures/experiencebk-resized.jpg');
                                background-blend-mode: screen;
                                background-size: cover;
                                display:flex;
                                min-height: 100%;
                                background-attachment: fixed;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                              }

                              #skills{
                                background-image: url('pictures/skills-resized.jpg');
                                background-blend-mode: screen;
                                min-height: 100%;
                                background-attachment: fixed;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;

                              }
                              #projects{
                                background-image: url('pictures/projects-resized.jpg');
                                background-blend-mode: screen;
                                min-height: 100%;
                                background-attachment: fixed;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                              }
                              

/*  the footer  */
                                .footer{
                                  width: 100%;
                                  height: 100vh;
                                  
                                  display: block;
                                  overflow: hidden;
                                }

/*  the footer right image  */
                                .contact_img{
                                  float: right;

                                  width: 40%;
                                  height:100vh;

                                  background-image: url('pictures/nutila.jpg');
                                  background-color:black;
                                  background-size: 40% 100%;
                                  background-blend-mode: screen;
                                  background-attachment: fixed;
                                  background-position: center right;
                                  background-repeat: no-repeat;

                                  shape-outside:polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
                                  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

                                  z-index: -1;
                                }
                                .contact_img .overlay{
                                  position: relative;
                                  height: 100%;
                                  width: 100%;
                                  background: black;
                                  opacity: 0.5;
                                  top:0;
                                  left: 0;
                                }


/* the  footer background video */
                                              
                                  .footer .vid_container{
                                    display: block;
                                    position: absolute;
                                    width: 100%;
                                    height: 100vh;
                                    overflow: hidden;
                                    z-index: -99;

                                  }
                                              .footer .vid_container video{
                                                display: block;
                                                position: absolute;
                                                right:10%;
                                                min-width: 100%;
                                                min-height: 100%;

                                              }

                                              .footer .vid_container .overlay{
                                                position: relative;
                                                height: 100%;
                                                width: 100%;
                                                background: black;
                                                opacity: 0.75;
                                                top:0;
                                                left: 0;
                                              }
 /*  the footer contact area */
                                .contact_info{
                                  width:60%;
                                  height: 100vh;
                                  color: white;
                                  padding-top: 40vh;
                                  padding-left: 10vh;
                                }

                                .contact_info .contact_links .fa{
                                  width:7vw;
                                  height: 10vh;

                                  font-size: 2rem;
                                  border:1 auto;
                                  border-radius: 20px;
                                  margin:2px;
                                  text-align: center;
                                  padding:1vw;
                                  transition: all 0.2s linear;
                                }
                                .contact_info .contact_links .fa:hover{
                                  padding:1.7vw;
                                }
                                .fa-facebook {
                                  background: #3B5998;
                                  color: white;
                                }

                                .fa-twitter {
                                  background: #55ACEE;
                                  color: white;
                                }

                                .fa-google {
                                  background: #dd4b39;
                                  color: white;
                                }

                                .fa-linkedin {
                                  background: #007bb5;
                                  color: white;
                                }
                                .fa-yahoo {
                                  background: #430297;
                                  color: white;
                                }
/*----- media query when the window is not more than 450px  ------*/
@media screen and (max-width:450px){
  a:active{
    background: white;
    color:black;
  }
  #header{
    height:100vh;
    padding:0px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0px;
  }
  #header .vid_container video{
  bottom: 0;
  }
  #header .name{
    font-size: 3vh;
    width:100%;
    height: 30%;

  }
  #header #headerLinks{
    font-size: 2vh;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width:100%;
    align-items: center;

  } 
 
  .divs .paragraph{
    font-size: 2vh;
    height: 68vh;
    padding:5px;
  }
  .divs .button{
    width:33vw;
    height: 7vw;
    align-self: center;
    margin:0px;
    font-size: 3.5vw;
  }
  .divs #skills + .paragraph{
    justify-content: space-around;
  }
  .divs #skills + .paragraph h5{
      font-size: 4vw;
      height:5vh;
      width:70vw;
  }
  .divs #skills + .paragraph .progress{
    height: 2.5vh;
    width:60vw;
  }
  .divs #skills + .paragraph .progress .progressInner h6 {
  font-size: 3vw;
 
}
#experience{
 background-position: -200px;
}
.contact_info{
  padding-top: 40vh;
  padding-left: 2vh;}
  .contact_img{
    background-size: 60% 100%;
    background-position: right top;
    
  }
.contact_info .contact_intro{
 font-size: 2.5vw;
}
.contact_links{
  padding-left: 10vw;
}
.contact_info .contact_links .fa{
  display:block;

  width: 11vw;
  height: 7vh;

  padding-top:2vw;

}
.footer .vid_container video{
  right:-100vw;
 
 }
}
/*----- media query when the window is between 450px and 800px ------*/

@media screen and (max-width:800px) and (min-width:450px){
  #header{
    
    border-bottom-left-radius: 0px;
  }
  #header .vid_container video{
    bottom: 0;
    }
  .divs .paragraph{
    font-size: 2.5vh;
    height: 70vh;
    padding:5px;
  }
  .divs .button{
    width:11vw;
    height: 7vw;
    align-self: center;
    margin:0px;
    font-size: 2vw;
  }
  #about_me + p{
    font-size: 3.7vw;
  }
  .divs #skills + .paragraph h5{
    font-size: 3vw;
    height:5vh;
    width:70vw;
}
.contact_info{
  padding-top: 40vh;
  padding-left: 2vh;}
  .contact_img{
    background-size: 60% 100%;
    background-position: right top;
    
  }
.contact_info .contact_intro{
 font-size: 2.5vw;
}
.contact_links{
  padding-left: 10vw;
}
.contact_info .contact_links .fa{
  display:block;

  width: 11vw;
  height: 7vh;

  padding-top:2vw;

}
.footer .vid_container video{
 right:-70vw;

}
  
}









